<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  {{#*inline "title"}}Login{{/inline}}
   {{#*inline "title"}}Admin{{/inline}}
</body>
</html>
